.Wrapper {
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
}
.Content {
  display: flex;
}

.Info {
  background-color: coral;
}

.List {
  background-color: lightsteelblue;
}

.idColumn_size {
  /* background-color: yellowgreen; */
  width: 50px;
}

.shortNameColumn_size {
  /* background-color: violet; */
  width: 100px;
}

.longNameColumn_size {
  /* background-color: rgb(238, 34, 238); */
  width: 300px;
}

.descriptionColumn_size {
  /* background-color: rgb(165, 164, 255); */
  width: 200px;
}
