.wrapper {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  height: calc(100% - 30px);
  background-color: goldenrod;
  margin: 1px;
}

.content {
  display: flex;
}
.control_panel {
  display: flex;
  min-width: 300px;
  min-height: 50px;
  background-color: lightskyblue;
}

.item {
  margin: 1px;
}
