.wrapper {
  display: flex;
  background-color: rgb(108, 255, 145);
  border-bottom: 1px solid grey;
}

.content {
  border-right: 1px solid grey;
  text-align: center;
  padding: 5px 0px 0px 5px;
  height: 100%;
}

.selected {
  background-color: rgb(255, 137, 137);
}
.wrapper:hover {
  background-color: rgb(219, 245, 74);
}
