.wrapper {
  display: flex;
  /* flex-direction: column; */
  background-color: rgb(108, 255, 145);
  border-bottom: 1px solid grey;

  justify-content: stretch;
}

.item {
  border-right: 1px solid grey;
  /* text-align: left; */
  /* padding: 5px 0px 0px 5px; */
  height: 100%;
  /* background-color: brown; */
}

.selected {
  background-color: rgb(255, 137, 137);
}
.wrapper:hover {
  background-color: rgb(219, 245, 74);
}
