.wrapper {
  display: flex;
  background-color: rgb(108, 255, 145);
  border: 1px solid grey;
  border-radius: 5px;
}

.item {
  border-right: 1px solid grey;
  overflow: hidden;
  padding: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item1 {
  width: 40px;
}

.item2 {
  width: 45px;
}

.item3 {
  min-width: 150px;
  width: 100%;
}

.selected {
  background-color: rgb(255, 137, 137);
}
.wrapper:hover {
  background-color: rgb(219, 245, 74);
}

