.wrapper {
  display: flex;
  background-color: rgb(108, 255, 145);

  border-bottom: 1px solid grey;
  /* border-style: solid;
  border-width: 3px;
  border-color: grey;
  border-collapse: collapse; */
}

/* .wrapper:nth-child(odd) {
  background-color: rgb(182, 207, 36);
} */

.content {
  /* background-color: aqua; */
  /* border: 1px solid black; */
  border-right: 1px solid grey;
  /* border-style: solid;
  border-width: 1px;
  border-color: grey; */
  /* border-collapse: collapse; */
  text-align: center;
  padding: 5px 0px 0px 5px;
  height: 100%;
}

.selected {
  background-color: rgb(255, 137, 137);
}
.wrapper:hover {
  background-color: rgb(219, 245, 74);
}
