.wrapper {
  display: flex;
  flex-direction: column;
  background-color: lemonchiffon;
  height: 100%;

  min-width: 100px;
}

.header {
  display: flex;
  background-color: red;
}

.header__text {
  align-self: center;
  padding: 5px;
  width: 100%;
  text-align: center;
}

.list {
  overflow-y: auto;
  min-width: 300px;
  cursor: default;
  user-select: none;
}
