.Wrapper {
}

.Component {
  display: flex;
  border: 1px solid red;
}

.Component__Data {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  border: 1px solid yellowgreen;
}

.Component__Item {
  padding: 5px;
  border: 1px solid blueviolet;
}
