.wrapper {
  display: flex;
  flex: 100;
  height: 100%;
  margin: 5px;
  max-width: 190mm;
}

.title {
}

.title__text {
}

.block__row {
  display: flex;
  flex-wrap: wrap;
}

.block__column {
  border: 1px solid #5e5373;
  height: 8.5mm;
  width: 16.5mm;
}

.block__item {
  font-size: auto;
  text-align: center;
  line-height: 8.5mm;
  font-weight: 700;
}
