.wrapper {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  user-select: none;
}

.item {
  display: flex;
}

.item:hover {
  background-color: rgb(238, 144, 238);
}

.selected {
  background-color: coral;
}
