.wrapper {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  height: 100%;
  min-width: 500px;
  flex-wrap: nowrap;
  background-color: rgb(167, 228, 247);
  /* width: 500px; */
}

.list {
  min-width: 500px;
}
