.wrapper {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  height: 100%;
  min-width: 500px;
  flex-wrap: nowrap;
  background-color: rgb(248, 88, 208);
  /* width: 500px; */
}

.list {
  min-width: 400px;
  background-color: blueviolet;
}
