.wrapper {
  display: flex;
  height: 100%;
}

.content {
  flex: 1 0;
  display: flex;
  height: 100%;
}

.SimpleList {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.SimpleList_header {
  display: flex;
}

.SimpleList__nameColumnSize {
  flex: 1 0;
}

.SimpleList_descriptionHeader {
}

.SimpleList__descriptionColumnSize {
  flex: 3 0;
}

.SimpleList_data {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  cursor: default;
  user-select: none;
}

.SimpleList_list {
  /* margin: 0px 0px 5px 0px; */
}

/* .SimpleList_list:nth-child(odd) {
  background-color: chartreuse;
} */

.SimpleList_selected {
  background-color: rgb(255, 192, 192);
}

.SimpleList_list:nth-child(odd) {
  background-color: rgb(255, 243, 140);
}

.SimpleList_list:nth-child(even) {
  background-color: rgb(233, 223, 130);
}

.SimpleList_item {
  padding: 2px 0px 2px 5px;
}

.SimpleList_item:hover {
  background-color: rgb(252, 191, 79);
}
