.wrapper {
  background-color: lavenderblush;
  cursor: pointer;
  user-select: none;
}

.selected {
  background-color: lightcoral;
}

.wrapper:hover {
  background-color: chartreuse;
}

.pathText {
  padding: 2px;
}
