.wrapper {
  display: flex;
  margin: 1px;
  padding: 3px;
  background-color: rgba(255, 255, 255, 0.418);
  border: 1px solid grey;
  border-radius: 5px;
}

.wrapper_active {
  background-color: rgb(255, 201, 201);
}

